<h1 class="mb-4">Add Maintenance for <%= @vehicle.make %> <%= @vehicle.model %></h1>

<%= render "form", vehicle: @vehicle, maintenance: @maintenance %>

<%= link_to "Back to Vehicle", vehicle_path(@vehicle), class: "btn btn-outline-secondary mt-3" %>
